@keyframes old-toleft {
		from {
			transform: translateX(0);
			opacity: 1;
		}
		to {
			transform: translateX(-10px);
			opacity: 0;
		}
}
@keyframes new-toleft {
		from {
			transform: translateX(100px);
			opacity: 0;
		}
		to {
			transform: translateX(0%);
			opacity: 1;
		}
}
@keyframes old-toright {
		from {
			transform: translateX(0);
			opacity: 1;
		}
		to {
			transform: translateX(10px);
			opacity: 0;
		}
}
@keyframes new-toright {
		from {
			transform: translateX(-100px);
			opacity: 0;
		}
		to {
			transform: translateX(0%);
			opacity: 1;
		}
}

@media screen and (max-width: 900px) {
	@keyframes old-toleft {
		from {
			transform: translateX(0);
			opacity: 1;
			background-color: #0000;
			filter: brightness(1);
		}
		to {
			transform: translateX(-10%);
			background-color: #0009;
			filter: brightness(0.5);
		}
	}
	@keyframes new-toleft {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0%);
		}
	}
	@keyframes old-toright {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(100%);
		}
	}
	@keyframes new-toright {
		from {
			transform: translateX(-10%);
			background-color: #0009;
			filter: brightness(0.5);
		}
		to {
			transform: translateX(0);
			background-color: #0000;
			filter: brightness(1);
		}
	}
}
